*{
    margin:0px;
    padding: 0px;
}

.header{
    width: 100%;
    max-width: 1920px;
    background-color: black;
    height: 200px;
}
.titulo{
    width: 50%;
    max-width: 960px;
    background-color:darkgrey;
    height: 200px;
    float: left;
    font-size: 45px;
    text-align: left;
    line-height: 180px;
    color: darkblue;
    text-shadow: 1px 3px 2px black;
    font-family: 'Press Start 2P', cursive;

}
.logo{
    width:50%;
    max-width: 960px;
    background-color:darkgrey;
    height:200px;
    float: left;
}
.logo img{
    margin-left:600px;
    margin-top: 8px;
}
.conteudo{
    width: 100%;
    max-width: 1400px;
    background-color:white;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.calculadora{
    width:100%;
    max-width:1400px;
    height: 500px;
    padding-top: 40px;
}

fieldset{
   display:block;
    background-color:darkblue;
    width: 100%;
    max-width: 400px;
    height: 400px;
     margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius: 10px;
    transition: 0.2s all;
    cursor: pointer;
    padding-top: 10px;
}

fieldset:hover{
    box-shadow: 1px 3px 3px black;
}
fieldset button:hover{
    background-color:darkblue;
    color: white;
    cursor: pointer;
}
button{
    width: 100%;
    max-width:68px;
    height: 50px;
    margin: 10px;
    margin-left: 15px;
    background-color: white;
    color: darkblue;
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.5s all;
}
fieldset input{
    width: 100%;
    max-width:68px;
    height: 50px;
    margin: 10px;
    margin-left: 15px;
    background-color: white;
    color: darkblue;
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;
    border-radius: 5px;
    margin-top: 15px;
    transition: 0.5s all;
}
#visor{
    width: 100%;
    max-width:355px;
    height: 40px;
    margin-left: 18px;
    background-color: white;
   
}
.rodape{
    width: 100%;
    max-width: 1920px;
    background-color:darkgrey;
    height: 237px;
    color: darkblue;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.sociais{
    list-style: none;
    display: inline;
}
.titfoot{
    line-height: 130px;
    font-size: 22px;
}

